[Desktop Entry]
Name=Timer Qt
StartupWMClass=timerqt
TryExec=timerqt
Exec=timerqt
Terminal=false
Icon=timerqt
Type=Application
Categories=Accessories;Utility;
Name[en_US]=Timer Qt
